@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* ====== Variables ==== */
:root {
    --darkblue : #242A56;
    --lightblue : #749BE7;
    --bg : #EFF2FF;
    --gradient : linear-gradient(to bottom right, #2a305f,#242a5652);
    --bold : 600;
    --semi-bold : 500;
}

    /* ========= Global ========== */
*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
h1,h2,h3,h4 {
    font-weight: var(--bold);
    color: var(--darkblue);
}

p{
    color: #393A56;
}
        /* ======= Resusable ======= */

.container{
    width: 80%;
    margin: auto;
}

.grid{
  display: grid;
  grid-gap: 1.5rem;  
}
section{
    padding: 60px 0;
}

.ctn{
    padding: 10px 11px;
    background-color: var(--lightblue);
    border: none;
    color: white;
    border-radius: 20px;
}

.ctn:hover, .ctn:hover.ctn a{
color: var(--lightblue);
background-color: white;
transform: scale(1.1);
}

/* header */
.header{
    background-image: url(./img/header-bg.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-item:hover.nav-item a{
    color: var(--lightblue);
}

.logo img{
    width: 150px;
}

ul{
    display: flex;
    align-items: center;
}

ul li a{
    color: white;
    margin: 0 20px;
}

.header-content{
    width: 50%;
    margin-top: 100px;
    color: whitesmoke;
}

.header-content h1, .header-content h3{
    color: whitesmoke;
    margin: 10px auto;
}

.header-content h1{
    font-size: 3rem;
}

.header-content p{
    margin-bottom: 30px;
    color: whitesmoke;
}

/* ======== services ========= */
.title{
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.title h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.services{
    background: var(--bg);
}

.services-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    margin-top: 50px;

}
.service{
    background-color: white;
    padding: 2rem 1rem;
    box-sizing: 2px 2px 2px 2px #00000056;
    border-radius: 10px;
}

.service:hover{
    background: var(--gradient);
    transform: scale(1.1);
    box-shadow: 3px 5px 2px rgba(46, 44, 44, 0.7);
}

.service:hover.service p,
.service:hover.service h1,
.service:hover.service .fa{
    color: white;
}

.service .fa{
    font-size: 30px;
    color: var(--lightblue);
    margin-bottom: 10px;
}

.service h1{
    margin-bottom: 10px;
}

/* ==== portfolio ===== */

.portfolio-wrapper, .customer-wrapper{
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto)); 
}

.portfolio-wrapper img{
    width: 250px;
    height: auto;
}

.button-wrapper{
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

.portfolio-wrapper img:hover{
    transform: scale(1.1);
    box-shadow: 3px 5px 2px rgba(46, 44, 44, 0.7);
}

.customers{
    margin-bottom: 60px;
}

/* ========= testimonials ========= */

.testimonials{
    background: var(--bg);
}

.testimonials .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review{
    margin-top: 50px;
    text-align: center;
}

.review h2{
    margin-top: 10px;
}

.review h4{
    margin-top: 10px;
    color: #65656b;
}

/* ========== getstarted ========= */

.getstarted{
    margin: 60px auto;
    width: 80%;
}

.ctn-wrapper{
    display: flex;
    box-shadow: 4px 4px 4px #0000ff1c;
    padding: 10px 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.ctn-wrapper .ctn{
    height: 50px;

}

.ctn-wrapper .text{
    width: 80%;
}

.ctn-wrapper .text h1{
    color: var(--lightblue);
    margin-bottom: 10px;
}

/* ========= Footer ========= */

footer{
    padding: 60px 0;
    background-color: var(--darkblue);
}

footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

footer h3,
footer p,
footer li {
    color: whitesmoke;
}

footer .col h3{
    margin-bottom: 15px;
}

footer .container .col:nth-child(1) p{
    margin: 20px auto;
}

footer .social-icons .fa{
    margin-right: 10px;
    cursor: pointer;
    font-size: 25px;
}

footer ul{
    flex-direction: column;
}

footer ul li {
    margin: 10px auto;
    cursor: pointer;
}

footer .social-icons{
    flex-direction: row;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr, .copyright{
    width: 80%;
    margin: 10px auto;
}

.copyright p{
    text-align: center;
}

.toggle{
    font-size: 30px;
    color: whitesmoke;
    display: none;
    z-index: 99;

}

/* mobile device */

@media only screen and (max-width:750px){

    .toggle{
        display: block;
    }

    .logo img{
        width: 150px;
    }
    .nav-list{
        position: absolute;
        top: 0;
        left: 0;background-color: var(--darkblue);
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin-top: -900px;
        transition: margin 0.5s ease-in-out;
    }
    .nav-list li{
        margin: 30px auto;
    }

    .nav-list.active{
        margin-top: 0;
    }

    .header-content{
        width: 90%;
    }
    .header-content h1{
        font-size: 2rem;
    }
    .title{
        max-width: 90%;
    }
    .grid{
        justify-content: center;
    }
    .customer-wrapper img{
        margin-top: 20px;
    }
    .ctn-wrapper{
        flex-direction: column;
    }
    .ctn-wrapper .text{
        margin-bottom: 20px;
    }
    footer .container{
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    }
    footer .col{
        margin-bottom: 30px;
    }
}